@font-face {
    font-family: 'FUTURA AL';
    src: url(./fontes/futuralc.ttf);
}

@font-face {
    font-family: 'FUTURA B';
    src: url(./fontes/futurab.ttf);
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(270deg, #84deff, #1761b6, #6cadf7, #3673b8);
    background-size: 800% 800%;
    -webkit-animation: bg-animation 48s ease infinite;
    -moz-animation: bg-animation 48s ease infinite;
    -o-animation: bg-animation 48s ease infinite;
    animation: bg-animation 48s ease infinite;
}

@-webkit-keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-o-keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}

@-webkit-keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-o-keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}

#content_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#form_header img{
    width: 30px;
    margin-right: 10px;
}

#form_container{
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
    border-radius: 10px;
}

#form_content_inner_container{
    display: flex;
    flex-direction: column;
}

#button_container{
    display: flex;
    justify-content: center;
}
input{
    background-color: rgba(230, 218, 218, 0.534);
    border: 1px solid rgba(230, 218, 218, 0.534);
    border-radius: 5px;
    margin: 5px;
    color:rgb(0, 0, 0);
}

button{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    color: #1761b6;
}

button:hover{
    background-color: #1761b6;
    border: #1761b6;
    color: white;
}
